<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог</title>
    <style>
        body.light {
            background-color: white;
            color: black;
        }

        body.dark {
            background-color: black;
            color: white;
        }

        .news-item {
            margin-bottom: 20px;
        }
    </style>
</head>
<body class="@ViewBag.Theme">
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
